<html>

<head>
    <link rel="stylesheet" href="/static/css/Reports.css">
    <link rel="stylesheet" href="/static/css/fstdropdown.css">
    <link rel="stylesheet" href="/static/css/fstdropdown.min.css">
    <link rel="stylesheet" href="/static/css/datatables.css">
    <link rel="stylesheet" href="/static/css/datatables.min.css">
    <meta charset="utf-8" />
    <header>
        <nav class="navigation">

            <a href="/BhajanaMandhiralu">BhajanaMandhiralu</a>
            <a href="/NewTempleConstruction">New Temple Construction</a>
            <a href="/RenovationOfTemple">Renovation of Temple</a>
            <a class="BM" href="/Reports">Reports</a>
           
            <a href="/Login" style="margin-right:100px;size:100%; font-size:30px;"><ion-icon
                    name="log-out-outline"></ion-icon></a>
            <link rel="stylesheet" type="text/css"
                href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
            <!-- Include the DataTables Buttons CSS -->
            <link rel="stylesheet" type="text/css"
                href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
            <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script scr='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js'></script>
            <script src='https://code.jquery.com/jquery-3.4.0.min.js'
                integrity='sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=' crossorigin='anonymous'></script>
            <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js'
                integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1'
                crossorigin='anonymous'></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
            <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
            <script src="/static/javascript/submit3.js"></script>
            <script src="/static/javascript/fstdropdown.js"></script>
            <script src="/static/javascript/fstdropdown.min.js"></script>
            <script src="/static/javascript/datatables.js"></script>
            <script src="/static/javascript/print.js"></script>
            <script src="/static/javascript/datatables.min.js."></script>
            <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
            <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">

        </nav>
    </header>
</head>

<body>
    <h1>Reports</h1>
    <div>
        <div class="inputs">
            <div class="inputfields">
                <form role="form" action="/Reports" method="post">
                    <div class="row">

                        <div class="col1">
                            <lable>Name of the District:</lable> <br> <br>
                            <select class="fstdropdown-select" id="District_name" name="District" multiple="multiple"
                                data-opened="fals" onclick="Dropdown()">
                                <option value="Anakapalli">Anakapalli</option>
                                <option value="Ananthapuram">Ananthapuram</option>
                                <option value="Annamayya">Annamayya</option>
                                <option value="Alluri Seetharamaraju">Alluri Seetharamaraju</option>
                                <option value="Bapatla">Bapatla</option>
                                <option value="Chittoor">Chittoor</option>
                                <option value="East Godavari">East Godavari</option>
                                <option value="Eluru">Eluru</option>
                                <option value="Guntur">Guntur</option>
                                <option value="Kakinada">Kakinada</option>
                                <option value="Konaseema">Konaseema</option>
                                <option value="Krishna">Krishna</option>
                                <option value="Kurnool">Kurnool</option>
                                <option value="Nandyal">Nandyal</option>
                                <option value="NTR">NTR</option>
                                <option value="Palnadu">Palnadu</option>
                                <option value="Parvathipuram Manyam">Parvathipuram Manyam</option>
                                <option value="Prakasam">Prakasam</option>
                                <option value="SPS Nellore">SPS Nellore</option>
                                <option value="Srikakulam">Srikakulam</option>
                                <option value="Sri Sathyasai">Sri Sathyasai</option>
                                <option value="Tirupathi">Tirupathi</option>
                                <option value="Vizianagaram">Vizianagaram</option>
                                <option value="Vishakapatnam">Vishakapatnam</option>
                                <option value="West Godavari">West Godavari</option>
                                <option value="YSR Kadapa">YSR Kadapa</option>
                            </select>
                        </div>
                        <div class="col2">
                            <lable>Name of the Mandal:</lable> <br> <br>
                            <select class="fstdropdown-select" id="Mandal_name" multiple="multiple" data-opened="false"
                                name="Mandal">
                            </select>
                        </div>
                        <div class="submit">
                            <button id="submit" type="submit" onclick="">submit</button>
                        </div>
                        <div class="clear">
                            <button type="reset" name="reset" onclick="location.href='/Reports';">Reset</button>

                        </div>
                        <div class="row">
                            <div class="table-container">
                                <div class="table-border">

                                    <h2>Generated Report</h2>
                                    <div id="content" style="width:100%;">
                                        {% if c %}

                                        <table id="example1"
                                            class="display table table-bordered table-stripped row-border order-column"
                                            cellspacing="0" style="width:100%; word-break:break-all"
                                            data-searching="true" data-sorting="true" data-paging="true">
                                            <!-- Table content -->

                                            <div id="report-content">
                                                <thead>
                                                    <tr>

                                                        <th style="width:150px; color:antiquewhite; font-size:20px;">
                                                            District</th>
                                                        <th style="width:150px; color:antiquewhite; font-size:20px;">
                                                            Mandal</th>
                                                        <th style="width:150px; color:antiquewhite; font-size:20px;">
                                                            Village</th>
                                                        <th style="width:150px; color:antiquewhite; font-size:20px;">
                                                            Colony</th>
                                                        <th style="width:150px; color:antiquewhite; font-size:20px;">
                                                            Phoneno</th>
                                                        <th style="width:150px; color:antiquewhite; font-size:20px;">
                                                            Population</th>
                                                    </tr>
                                                </thead>
                                            </div>
                                            <tbody id="data-collections">
                                                {% for d in ReportsData %}
                                                <tr>

                                                    <td style="width:150px;">{{d.request_data.District}}</td>
                                                    <td style="width:150px;">{{d.request_data.Mandal}}</td>
                                                    <td style="width:150px;">{{d.request_data.Village}}</td>
                                                    <td style="width:150px;">{{d.request_data.Colony}}</td>
                                                    <td style="width:150px;">{{d.request_data.Phone_no}}</td>
                                                    <td style="width:150px;">{{d.request_data.Population}}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {% else %}
                                    </div>
                                    {% endif%}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            // Initialize DataTables on the table with the ID "myTable"
            $('#example1').DataTable({
                dom: 'Bfrtip',
                buttons: ['print']
            });
        });
    </script>
</body>




</html>